header{color:  goldenrod;
      background-color: rgba(9, 7, 10, 0.644);
      
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-align: center;
}
h2{
      color: cadetblue;
}

*{    margin:0;
      box-sizing: border-box;
}
section{
      background-color: rgb(247, 245, 249); 
      display: table;
      content:"";
      clear: both;
      }
nav{  color: goldenrod;
      padding:2px;
      width: 25%;
      float: left;
      background-color: rgb(221, 221, 221);
      height: 300px;
            
      }
article{
      
      width: 75%;
      float: right;
}
footer{
      float:left;
      background-color:rgba(5, 2, 7, 0.644); 
      width: 100%;
      
      padding: 20px;
}
#footer::after{content:(.link)}